[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/noah/Desktop/steam.desktop]
row=4
col=0

[f1bfeb93-02e9-4bec-a3c5-d7e1e40ac6a4]
row=0
col=0

[Rubbish]
row=1
col=0

[/]
row=2
col=0

[/home/noah]
row=3
col=0

